.ng-invalid.ng-touched {
	/* box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5); */
	border-color: red;
}

@media (max-width: 600px) {
	.hidden-sm {
		display: none;
	}
}

/* ********************** */

/* TOOLTIP */

/* ********************** */

.tooltip.show {
	opacity: 1;
}

.tooltip-inner {
	color: #888;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

.bs-tooltip-top .arrow::before {
	border-top-color: #ddd;
}

.bs-tooltip-right .arrow::before {
	border-right-color: #ddd;
}

.bs-tooltip-bottom .arrow::before {
	border-bottom-color: #ddd;
}

.bs-tooltip-left .arrow::before {
	border-left-color: #ddd;
}

/* ********************** */

/* ********************** */

/* CARREGANDO */

/* ********************** */

.page-loading-container {
	display: none;
	position: absolute;
	z-index: 9000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #000000cc;
}

.page-loading-container .loading-img {
	width: 100px;
}

/* ********************** */