.ipt-mask-invalid {
	border-color: #dc3545 !important;
	box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

.ng-invalid.ng-touched {
	/* box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.5); */
	border-color: #dc3545;
}

.ng-invalid.ng-touched+span {
	display: block;
	position: relative;
	float: right;
	margin: 0px;
	margin-top: -43px;
	margin-right: -4px;
	border: solid 1px #dc3545;
	color: #fff;
	border-radius: 0.2rem;
	padding: 3px;
	background-color: #dc3545;
	font-size: 10px;
	line-height: 1;
}

.ng-invalid.ng-touched.ng-not-empty[invalid-msg]+span::after {
	content: attr(invalid-msg) !important;
}
.ng-invalid.ng-touched+span::after {
	content: 'Valor inválido';
}

.ng-invalid.ng-touched.ng-invalid-required+span::after {
	content: 'Campo Obrigatório';
}

.ng-invalid.ng-touched.ng-not-empty.ng-invalid-pattern+span::after {
	content: 'Formato inválido';
}
.ng-invalid.ng-touched.ng-not-empty.invalid-in-list+span::after {
	content: 'Não pertence a lista';
}

/* form-control form-control-sm ng-pristine ng-scope ng-empty ng-invalid ng-invalid-required ng-valid-pattern ng-touched */

html {
	height: 100%;
}

body {
	height: 100%;
	flex-direction: column;
	overflow: hidden;
	display: flex;
	/* align-items: stretch; */
}

.nav-bar {
	position: sticky;
	flex-shrink: 0;
	box-shadow: 0px 0px 5px #888;
	z-index: 1;
}

.main-view {
	flex-grow: 1;
	flex-direction: column;
	display: flex;
}

.main-view .uiview {
	flex-grow: 1;
	padding-top: 10px;
	overflow: auto;
}

.footer {
	flex-shrink: 0;
	background-color: #888;
	display: flex;
	justify-content: flex-end;
	padding: 3px 5px;
}

/* ********************** */

/* TOOLTIP */

/* ********************** */

.tooltip.show {
	opacity: 1;
}

.tooltip-inner {
	color: #888;
	background-color: #f8f8f8;
	border: 1px solid #ddd;
}

.bs-tooltip-top .arrow::before {
	border-top-color: #ddd;
}

.bs-tooltip-right .arrow::before {
	border-right-color: #ddd;
}

.bs-tooltip-bottom .arrow::before {
	border-bottom-color: #ddd;
}

.bs-tooltip-left .arrow::before {
	border-left-color: #ddd;
}

/* ********************** */

/* ********************** */

/* CARREGANDO */

/* ********************** */

.page-loading-container {
	display: none;
	position: fixed;
	z-index: 9000;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #000000cc;
}

.page-loading-container .loading-img {
	width: 100px;
}

/* ********************** */