<link rel="stylesheet" href="../assets/css/contato-styles.css" />
<link rel="stylesheet" href="../assets/css/grid-table-styles.css" />
<link rel="stylesheet" href="../assets/css/grid-pager-styles.css" />
<link rel="stylesheet" href="../assets/css/contato-search-form-styles.css" />
<link rel="stylesheet" href="../assets/css/contato-grid-styles.css" />

<style>
</style>

<div class="container-fluid contatos">

	<h3>contatos</h3>

	<div class="container" ng-show="vm.editing" ng-init="vm.editing=null">

		<div id="frmTitle" class="form-row">
			<h5>{{ !vm.editing ? '' : vm.editing.idx
				< 0 ? 'Novo' : 'Editar' }} Contato</h5>
		</div>

		<form name="vm.frmContato" class="form" ng-disabled="{{true}}" ng-model="vm.editing"
		    ng-include src="'/views/includes/contato-form.html'"></form>

		<div class="text-right" style="margin-bottom: 15px;">
			<button id="btnSalvar" ng-disabled="!vm.frmContato.$valid" ng-click="vm.save();"
			    type="button" class="btn btn-primary">salvar</button>
			<button ng-click="vm.cancel();" ng-disabled="!vm.editing" type="button" class="btn btn-danger">cancelar</button>
		</div>
	</div>

	<!-- ****************************************** -->

	<div ng-show="!vm.editing">

		<fieldset class="search-fieldset">

			<legend>Filtros</legend>

			<div class="grid-table">
				<div class="grid-row">
					<div class="grid-wrapper search-id-search-nome">
						<form class="grid-form" ng-submit="vm.goSearch()">
							<div class="grid-column search-id">
								<label for="searchId">Id</label>
								<input type="text" class="form-control form-control-sm" id="searchId" ng-model="vm.filters.id">
								<input type="submit" style="visibility: hidden; position: absolute;">
							</div>
						</form>
						<form class="grid-form" ng-submit="vm.goSearch()">
							<div class="grid-column search-nome">
								<label for="searchNome">Nome</label>
								<input type="text" class="form-control form-control-sm" id="searchNome" ng-model="vm.filters.nome">
								<input type="submit" style="visibility: hidden; position: absolute;">
							</div>
						</form>
					</div>
					<div class="grid-wrapper search-telefone-search-endereco">
						<form class="grid-form" ng-submit="vm.goSearch()">
							<div class="grid-column search-telefone">
								<label for="searchTelefone">Telefone</label>
								<input type="text" class="form-control form-control-sm" id="searchTelefone"
								    ng-model="vm.filters.telefone">
								<input type="submit" style="visibility: hidden; position: absolute;">
							</div>
						</form>
						<form class="grid-form" ng-submit="vm.goSearch()">
							<div class="grid-column search-endereco">
								<label for="searchEndereco">Endereço</label>
								<input type="text" class="form-control form-control-sm" id="searchEndereco"
								    ng-model="vm.filters.endereco_limpo">
								<input type="submit" style="visibility: hidden; position: absolute;">
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="search-buttons">
				<button type="button" ng-click="vm.goSearch();" class="btn btn-sm btn-primary"
				    data-toggle="tooltip" title="Pesquisar">
					<span class="glyphicon glyphicon-search"></span>
					Pesquisar
				</button>
				<button type="button" ng-click="vm.cleanSearch();" class="btn btn-sm btn-secondary"
				    data-toggle="tooltip" title="Limpar">
					<span class="glyphicon glyphicon-trash"></span>
					Limpar
				</button>
			</div>
		</fieldset>

		<!-- ****************************************** -->

		<div class="control-grid top">
			<div class="buttons">
				<button type="button" ng-click="vm.novo();" class="btn btn-sm btn-success">
					<span class="glyphicon glyphicon-plus"></span>
					<span>Incluir</span>
				</button>
				<button type="button" ng-click="vm.goSearch();" class="btn btn-sm btn-primary">
					<span class="glyphicon glyphicon-refresh"></span>
					<span>Atualizar</span>
				</button>
			</div>
			<grid-pager></grid-pager>
		</div>

		<div class="grid-table grid-zebra grid-border">
			<div class="grid-row grid-header">
				<div class="grid-wrapper resto-endereco">
					<div class="grid-wrapper id-nome-telefone">
						<div class="grid-wrapper id-nome">
							<div class="grid-column id sortable" data-sort-column="id">
								<span>Id</span>
							</div>
							<div class="grid-column nome sortable" data-sort-column="nome">
								<span>Nome</span>
							</div>
						</div>
						<div class="grid-column telefone sortable" data-sort-column="telefone">
							<span>Telefone</span>
						</div>
					</div>
					<div class="grid-wrapper endereco">
						<div class="grid-column endereco">
							<span>Endereço</span>
						</div>
					</div>
				</div>
				<div class="grid-column buttons">
					<button class="btn btn-sm">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
					<button class="btn btn-sm">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</div>
			</div>

			<div class="grid-row" ng-repeat="contato in vm.contatoList">
				<div class="grid-wrapper resto-endereco">
					<div class="grid-wrapper id-nome-telefone">
						<div class="grid-wrapper id-nome">
							<div class="grid-column id">
								<label class="grid-label id sortable" data-sort-column="id">
									<span>Id</span>
								</label>
								<div>{{contato.id ? contato.id : '*'}}</div>
							</div>
							<div class="grid-column nome">
								<label class="grid-label nome sortable" data-sort-column="nome">
									<span>Nome</span>
								</label>
								<div>{{contato.nome}}</div>
							</div>
						</div>
						<div class="grid-column telefone">
							<label class="grid-label telefone sortable" data-sort-column="telefone">
								<span>Telefone</span>
							</label>
							<div>{{contato.telefone| telefone}}</div>
						</div>
					</div>
					<div class="grid-wrapper endereco">
						<div class="grid-column endereco">
							<label class="grid-label endereco">Endereço</label>
							<div>
								{{contato.endereco.tipoLogradouro === 'Outro' ? '' : contato.endereco.tipoLogradouro}}
								{{!contato.endereco.logradouro ? '' : contato.endereco.logradouro}}
								{{!contato.endereco.numero ? '' : ', ' + contato.endereco.numero}} {{!contato.endereco.complemento
								? '' : ' - ' + contato.endereco.complemento}} {{!contato.endereco.bairro
								? '' : ' - ' + contato.endereco.bairro}} {{!contato.endereco.cidade
								? '' : ' - ' + contato.endereco.cidade}} {{!contato.endereco.estado
								? '' : ' - ' + contato.endereco.estado}} {{!contato.endereco.cep ? ''
								: ' - CEP: ' + (contato.endereco.cep|cep)}}
							</div>
						</div>
					</div>
				</div>
				<div class="grid-column buttons">
					<button type="button" ng-click="vm.edit(contato, $index);" class="btn btn-sm btn-primary"
					    data-toggle="tooltip" title="Editar">
						<span class="glyphicon glyphicon-pencil"></span>
					</button>
					<button type="button" ng-click="vm.remove(contato, $index);" class="btn btn-sm btn-danger"
					    data-toggle="tooltip" title="Excluir">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
				</div>
			</div>
		</div>

		<div class="control-grid bottom">
			<div class="buttons">
				<button type="button" ng-click="vm.novo();" class="btn btn-sm btn-success">
					<span class="glyphicon glyphicon-plus"></span>
					<span>Incluir</span>
				</button>
				<button type="button" ng-click="vm.goSearch();" class="btn btn-sm btn-primary">
					<span class="glyphicon glyphicon-refresh"></span>
					<span>Atualizar</span>
				</button>
			</div>
			<grid-pager pager-position="bottom"></grid-pager>
		</div>

	</div>
</div>