<div class="container" ng-controller="ContatoController as vm">
	
	<h3>contatos</h3>

	<div ng-show="!vm.editing">
		<grid-pager></grid-pager>
		<form ng-submit="vm.goSearch()">
			<table class="grid-table table table-bordered table-striped table-sm">
				<thead class="thead-light">
					<tr>
						<th>
							<div class="header-group sortable serachable asc" data-sort-column="id">
								<span>Id</span>
								<input type="text" class="form-control form-control-sm" ng-model="vm.filters.id">
							</div>
						</th>
						<th>
							<div class="header-group sortable serachable desc" data-sort-column="nome">
								<span>Nome</span>
								<input type="text" class="form-control form-control-sm" ng-model="vm.filters.nome">
							</div>
						</th>
						<th class="hidden-sm">
							<div class="header-group sortable serachable" data-sort-column="telefone">
								<span>Telefone</span>
								<input type="text" class="form-control form-control-sm" ng-model="vm.filters.telefone">
							</div>
						</th>
						<th class="hidden-sm">
							<div class="header-group serachable">
								<span>Endereço</span>
								<input type="text" class="form-control form-control-sm" ng-model="vm.filters.endereco_limpo">
							</div>
						</th>
						<th>
							<button type="button" ng-click="vm.novo();" class="btn btn-sm btn-success"data-toggle="tooltip" title="Incluir">
								<span class="glyphicon glyphicon-plus"></span>
							</button>
							<button type="button" ng-click="vm.goSearch();" class="btn btn-sm btn-primary"data-toggle="tooltip" title="Atualizar">
								<span class="glyphicon glyphicon-refresh"></span>
							</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="contato in vm.contatoList">
						<td>
							<div>
								<div>{{contato.id ? contato.id : '*'}}</div>
							</div>
						</td>
						<td>
							<div>
								<div>{{contato.nome}}</div>
							</div>
						</td>
						<td class="hidden-sm">
							<div>
								<div>{{contato.telefone}}</div>
							</div>
						</td>
						<td class="endereco-column hidden-sm">
							<div>
								<div>
									{{contato.endereco.tipoLogradouro === 'Outro' ? '' : contato.endereco.tipoLogradouro}} {{!contato.endereco.logradouro ? ''
									: contato.endereco.logradouro}} {{!contato.endereco.numero ? '' : ', ' + contato.endereco.numero}} {{!contato.endereco.complemento
									? '' : ' - ' + contato.endereco.complemento}} {{!contato.endereco.bairro ? '' : ' - ' + contato.endereco.bairro}}
									{{!contato.endereco.cidade ? '' : ' - ' + contato.endereco.cidade}} {{!contato.endereco.estado ? '' : ' - ' + contato.endereco.estado}}
									{{!contato.endereco.cep ? '' : ' - CEP: ' + contato.endereco.cep}}
								</div>
							</div>
						</td>
						<td>
							<div>
								<div>
									<button type="button" ng-click="vm.edit(contato, $index);" class="btn btn-sm btn-primary" data-toggle="tooltip" title="Editar">
										<span class="glyphicon glyphicon-pencil"></span>
									</button>
									<button type="button" ng-click="vm.remove(contato, $index);" class="btn btn-sm btn-danger"data-toggle="tooltip" title="Excluir">
										<span class="glyphicon glyphicon-remove"></span>
									</button>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<input type="submit" style="visibility: hidden; position: absolute;">
		</form>
		<grid-pager pager-position="bottom"></grid-pager>
	</div>
	<br>

	<div class="container" ng-show="vm.editing">

		<form name="vm.frmContato" class="form" ng-disabled="{{true}}" ng-model="vm.editing">

			<div id="frmTitle" class="form-row">
				<h5>{{ !vm.editing ? '' : vm.editing.idx
					< 0 ? 'Novo' : 'Editar' }} Contato</h5>
			</div>
			<div class="form-row">
				<div class="form-group form-group-sm col-md-1">
					<label>Id</label>
					<input name="id" ng-model="vm.editing.id" disabled type="text" class="form-control form-control-sm">
				</div>
				<div class="form-group form-group-sm col-md-9">
					<label>Nome</label>
					<input name="nome" ng-model="vm.editing.nome" required type="text" class="form-control form-control-sm">
				</div>
				<div class="form-group form-group-sm col-md-2">
					<label>Telefone</label>
					<input name="telefone" ng-model="vm.editing.telefone" required type="text" class="form-control form-control-sm">
				</div>
			</div>
			<div class="form-row">
				<h5>Endereço</h5>
			</div>
			<div class="form-row">

				<div class="form-group form-group-sm col-md-3">
					<label>Tipo Logradouro</label>
					<select name="tipoLogradouro" ng-model="vm.editing.endereco.tipoLogradouro" required class="form-control form-control-sm">
						<option>Rua</option>
						<option>Avenida</option>
						<option>Alameda</option>
						<option>Travessa</option>
						<option>Outro</option>
					</select>
				</div>
				<div class="form-group form-group-sm col-md-9">
					<label>Logradouro</label>
					<input name="logradouro" ng-model="vm.editing.endereco.logradouro" required type="text" class="form-control form-control-sm">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group form-group-sm col-md-2">
					<label>Número</label>
					<input name="numero" ng-model="vm.editing.endereco.numero" required type="text" class="form-control form-control-sm">
				</div>
				<div class="form-group form-group-sm col-md-5">
					<label>Complemento</label>
					<input name="complemento" ng-model="vm.editing.endereco.complemento" required type="text" class="form-control form-control-sm">
				</div>
				<div class="form-group form-group-sm col-md-5">
					<label>Bairro</label>
					<input name="bairro" ng-model="vm.editing.endereco.bairro" required type="text" class="form-control form-control-sm">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group form-group-sm col-md-6">
					<label>Cidade</label>
					<input name="cidade" ng-model="vm.editing.endereco.cidade" required type="text" class="form-control form-control-sm">
				</div>
				<div class="form-group form-group-sm col-md-4">
					<label>Estado</label>
					<select name="estado" ng-model="vm.editing.endereco.estado" required class="form-control form-control-sm">
						<option ng-repeat="estado in vm.estadoList" value="{{estado.Sigla}}">{{estado.Nome}}</option>
					</select>
				</div>
				<div class="form-group form-group-sm col-md-2">
					<label>CEP</label>
					<input name="cep" ng-model="vm.editing.endereco.cep" required type="text" class="form-control form-control-sm">
				</div>
			</div>
			<div class="text-right">
				<button id="btnSalvar" ng-click="vm.save();" ng-disabled="!vm.editing" type="button" class="btn btn-primary">salvar</button>
				<button ng-click="vm.cancel();" ng-disabled="!vm.editing" type="button" class="btn btn-danger">cancelar</button>
			</div>
		</form>
	</div>
</div>
<br>